extends layout

block content
    .container
    h1= title
    p Use this form to create a new celebrity record
        .row
            .col-sm-8
                form#formAddCelebrity(name="addcelebrity",method="post",action="/savecelebrity")
                    input#inputFirstName(type="text", placeholder="First Name", name="first_name")
                    input#inputLastName(type="text", placeholder="Last Name", name="last_name")
                    input#inputBirthdate(type="text", placeholder="Birthdate", name="birthdate")
                    button#btnSubmit(type="submit") submit
            .col-sm-4
                p Welcome to the Celebrity Age Machine! Please use the handy celebrity finder above, or one of our preset searches, to locate age information for over 3,000 celebrities. Don't see someone who you think should be included? Let us know!
                include includes/search.jade

