extends layout

block content
    .container
    h1= title
    p Welcome to #{title}
        .row
            .col-sm-8
                p Hello World!
            .col-sm-4
                p Welcome to the Celebrity Age Machine! Please use the handy celebrity finder above, or one of our preset searches, to locate age information for over 3,000 celebrities. Don't see someone who you think should be included? Let us know!
                include includes/search.jade

