<!DOCTYPE html>
<html>
<head><title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="celebrities, celebrity, star, birthday, keanu reeves, cameron diaz, britney spears, justin timberlake">
    <meta name="description" content="Who has the same birthday as you? Find out the answer and much more.">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/javascripts/googlewebfonts.js"></script>
</head>
<body>
<div class="container"></div>
<h1></h1>

<p>Welcome to

<div class="row">
    <div class="col-sm-8"><p>Hello World!</p></div>
    <div class="col-sm-4"><p>Welcome to the Celebrity Age Machine! Please use the handy celebrity finder above, or one
        of our preset searches, to locate age information for over 3,000 celebrities. Don't see someone who you think
        should be included? Let us know!</p>

        <div id="searchbox"><h1>Search</h1></div>
    </div>
</div>
</p>
<div class="row">
    <div class="col-sm-12"><p>copyright &copy; 2014 Celebrity Age Machine</p></div>
</div>
</body>
</html>